<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
  
  <test thread-count="1" name="QaAssignment-Login">

    <classes>
    	<class name="net.rtcamp.qa.testCases.LoginTest">
	      	<methods>
	      			<include name="gotoHomePage"/>
	      			<include name="loginSuccessTest"/>
							<include name="logout"/>
  						<include name="loginFailTest" />
  						<include name="loginSuccessTestTemp"/>
	      	</methods>
     	</class>
     	
    </classes>

  </test> 
  
  
  <test thread-count="1" name="QaAssignment-updatePost">
  
	    <classes>
	     	
       	<class name="net.rtcamp.qa.testCases.UpdateMediaStatusPost">
     			<methods>
     				<include name="updateMediaImagesPost"/>	
     			</methods>
     		</class>
     		
     	
			</classes>
			
  </test>
  

  
   <test thread-count="1" name="QaAssignment-CreateAndEditAlbums">
  
  		<classes>    	
 		
       	<class name="net.rtcamp.qa.testCases.CreateAndEditAlbum">
     			<methods>
						<include name="gotoAlbumPage"/>
     				<include name="createAlbum"/>
     				<include name="editAlbum"/>
     				<include name="selectFiles"/>
     				<include name="uploadFiles"/>
     				<include name="likeMediaFile"/>	
	      		<include name="assertImageInLikes"/>
     			</methods>
     		</class>

			</classes>
			
  </test>

    <test thread-count="1" name="QaAssignment-editProfile">
  
  		<classes>    	
  		
	    	<class name="net.rtcamp.qa.testCases.EditProfile">
	     			<methods>
							<include name="editProfileImage"/>
	     			</methods>
	     	</class>
			
			</classes>
			
  </test>  
  

  
</suite> 

